---
version: 2.1

orbs:
  prometheus: prometheus/prometheus@0.3.0

executors:
  test:
    parameters:
      consul_version:
        type: string
    docker:
    # Whenever the Go version is updated here, .promu.yml should also be updated.
    - image: circleci/golang:1.14
    - image: consul:<< parameters.consul_version >>
      name: consul
      environment:
        CONSUL_LOCAL_CONFIG: '{"node_name":"test"}'
    environment:
      CONSUL_SERVER: consul:8500
      CONSUL_NODE_NAME: test

jobs:
  test:
    parameters:
      exec:
        type: executor

    executor: << parameters.exec >>

    steps:
    - prometheus/setup_environment
    - run: make
    - run: git diff --exit-code
    - prometheus/store_artifact:
        file: consul_exporter
    - store_test_results:
        path: test-results

workflows:
  version: 2
  prometheus:
    jobs:
    - test:
        name: test-penultimate
        exec:
          name: test
          consul_version: "1.6"
        filters:
          tags:
            only: /.*/
    - test:
        name: test-latest
        exec:
          name: test
          consul_version: "1.7"
        filters:
          tags:
            only: /.*/
    - prometheus/build:
        name: build
        filters:
          tags:
            only: /.*/
    - prometheus/publish_master:
        context: org-context
        requires:
        - test-penultimate
        - test-latest
        - build
        filters:
          branches:
            only: master
    - prometheus/publish_release:
        context: org-context
        requires:
        - test-penultimate
        - test-latest
        - build
        filters:
          tags:
            only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
          branches:
            ignore: /.*/
