---
version: 2.1

orbs:
  prometheus: prometheus/prometheus@0.17.1

executors:
  golang:
    docker:
    # Whenever the Go version is updated here, .promu.yml should also be updated.
    - image: cimg/go:1.21

jobs:
  test:
    executor: golang
    steps:
    - prometheus/setup_environment
    - run: make
    - prometheus/store_artifact:
        file: consul_exporter

  integration:
    parameters:
      consul_version:
        type: string
    docker:
    # Whenever the Go version is updated here, .promu.yml should also be updated.
    - image: cimg/go:1.20
    - image: consul:<< parameters.consul_version >>
      name: consul
      environment:
        CONSUL_LOCAL_CONFIG: '{"node_name":"test"}'
    environment:
      CONSUL_SERVER: consul:8500
      CONSUL_NODE_NAME: test

    steps:
    - prometheus/setup_environment
    - run: make test
    - run: git diff --exit-code
    - store_test_results:
        path: test-results

workflows:
  version: 2
  prometheus:
    jobs:
    - test:
        filters:
          tags:
            only: /.*/
    - integration:
        matrix:
          parameters:
            consul_version:
            - "1.13"
            - "1.14"
            - "1.15"
        filters:
          tags:
            only: /.*/
    - prometheus/build:
        name: build
        filters:
          tags:
            only: /.*/
    - prometheus/publish_master:
        context: org-context
        requires:
        - test
        - build
        filters:
          branches:
            only: master
    - prometheus/publish_release:
        context: org-context
        requires:
        - test
        - build
        filters:
          tags:
            only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
          branches:
            ignore: /.*/
